body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 100px;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #b3008f;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #b3008f;
}
/* ===== LAYOUT CON COLUMNA ===== */

body {
    margin: 0; /* importante: saca el margen raro */
}

.container {
    display: flex;
    height: 100vh;
}

/* columna izquierda */
.sidebar {
    width: 200px;
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: left; /* importante porque heredaste centrado */
}

/* contenido derecha */
.content {
    flex: 1;
    padding: 20px;
    text-align: center; /* mantenemos tu estilo */
}

/* menú */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
}
